body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#516395+0,614385+100 */
  background: #516395; /* Old browsers */
  background: -moz-linear-gradient(top, #516395 0%, #614385 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #516395 0%,#614385 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #516395 0%,#614385 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#516395', endColorstr='#614385',GradientType=0 ); /* IE6-9 */
}