/*
* General Page
*/

body { background-color: #151515; }


/*
* Header
*/


/*
* Search Form
*/
div.row.search-row {
  text-align: center;
}

body > div > div.row.search-row > div > form > input[type=text] {
  background-color: #DFDFDF;
}

body > div > div.row.search-row > div > form > input[type=text]:focus {
  outline: none;
}